.search {
                border: solid 6px black;
                box-sizing: border-box;
                font-size: 1.5em;
                height: 2em;
                outline: solid black 0;
                padding: 1em;
                width: 90%;
                background-color: black;
                color: white;

}

input:focus{
    border: 6px solid #ea0c56;
}
